<div class="container">
  <div class="row justify-content-center">
    <div id="aboutus" class="container d-flex justify-content-center">
      <div
        id="aboutusrow"
        class="row d-flex justify-content-center align-items-center"
      >
        <div
          class="
            col-sm-5 col-xl-10
            d-flex
            align-items-center
            justify-content-center
          "
        >
          <h2 id="aboutusheader">About Us</h2>
        </div>
        <div
          class="
            col-sm-5 col-xl-10
            d-flex
            align-items-center
            justify-content-center
          "
        >
          <img
            id="aboutusimg"
            src="https://res.cloudinary.com/walterscloudinary/image/upload/v1631923317/PICTURE_WITH_FRAME_bnoaa9.png"
          />
        </div>
        <div class="col-sm-8  d-flex align-items-center justify-content-center">
          <p id="aboutustext">
            For over 30 years, Bryan Colletti has donated to communities around
            the United States. It takes a special dog to be a working police, or
            search & rescue K-9. Usually Belgian Malinois, German Shepherds, or
            a mix of the two, future officers live in-house with Bryan and his
            family for daily training. Dogs are raised and trained one, two or
            three at at time, learning the skills they need to work patrol,
            detection and developing their overall stability of character. To
            fully train a dog to the point that he/she is ready for donation can
            take as much as a year and cost thousands of dollars. The receiving
            police department, SAR organization, or Military Veteran that
            receives the dog will be saving thousands of dollars and given a dog
            that is ready to do his/her job.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div id="paypal" class="row justify-content-center">
      <div class="col-sm-6 d-flex align-items-center justify-content-center">
        <span id="paypal-span">Paypal or
          <br>
          Credit Card</span>
      </div>
      <div class="col-sm-6 d-flex align-items-center justify-content-center">
        <button class="buttons"><span id="donate-button">Donate</span></button>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div id="amazon" class="row justify-content-center">
      <div class="col-sm-6 d-flex align-items-center">
        <span id="amazon-span">Amazon Smile</span>
      </div>
      <div class="col-sm-6 d-flex align-items-center justify-content-center">
        <button class="buttons"><a id="donate-a-tag" href="https://smile.amazon.com/ch/27-3074421"><span id="donate-button">Donate</span></a></button>
      </div>
      <div class="row justify-content-center">
        <p id="amazon-para">
          Instead of going to Amazon’s website the normal way, click this link to
          go through their free online donation page (smile.amazon.com). You shop
          and spend as you normally would, and Amazon sends us a check for 0.5% of
          your spending! Find us as “K-9 Crime Stoppers”!
        </p>
      </div>
    </div>
  </div>

</div>
