/* .wrapper{
    height: fill;
    width: fill;
    background: rgb(8,28,238);
background: radial-gradient(circle, rgba(8,28,238,1) 0%, rgba(0,163,255,1) 50%, rgba(23,226,246,1) 100%);
} */


.wrapper{
  position: relative;
  background: #2D2D2D
}
