<div class="wrapper">
  <div id="container-top" class="container">
    <div class="container">
      <div class="row justify-content-around">
        <div *ngFor="let d of dogs" class="card" style="width: 18rem;">
          <cl-image public-id="{{d.image}}">
            <cl-transformation height="281px" width="750px"></cl-transformation>

        </cl-image>
          <div class="card-body">
            <p class="card-title">{{d.name}}</p>
            <p class="card-text">{{d.text}}</p>
            <button class="btn btn-sm btn-primary" [routerLink]="[d._id]">{{d.name}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" >
    <div class="row justify-content-center" id="map-container">
      <div class="map" id="map" class="match-parent"></div>
    </div>
  </div>
  <button *ngIf="isLogin" class="btn btn-md btn-success" routerLink="/dog/create"> Create Dog</button>
</div>



