<div class="container">
  <form class="form" #form="ngForm" (submit)="onSubmit(form)">
    <div class="title">Edit Dog</div>

    <input
      type="file"
      class="inputfile"
      name="photo"
      ngModel
      (input)="onChange(f.files[0])"
      #f
      #test
    />
    <div class="input-container ic1">
      <input
        id="firstname"
        class="input"
        type="text"
        [(ngModel)]="dog.name"
        name="name"
        ngModel
        form.name="ngModel"
      />
      <div class="cut cut-short"></div>
      <label for="firstname" class="placeholder">Name</label>
    </div>
    <div class="input-container ic2">
      <input
        id="lastname"
        class="input"
        type="text"
        [(ngModel)]="dog.about"
        name="about"
        ngModel
        form.about="ngModel"
      />
      <div class="cut cut-short"></div>
      <label for="lastname" class="placeholder">About</label>
    </div>
    <div class="input-container ic2">
      <input
        id="email"
        class="input"
        type="text"
        [(ngModel)]="dog.coordinates.latitude"
        name="latitude"
        ngModel
        form.latitude="ngModel"
      />
      <div class="cut"></div>
      <label for="email" class="placeholder">Latitude</label>
    </div>
    <div class="input-container ic2">
      <input
        id="email"
        class="input"
        type="text"
        name="longtitude"
        [(ngModel)]="dog.coordinates.longtitude"
        ngModel
        form.longtitude="ngModel"
      />
      <div class="cut"></div>
      <label for="email" class="placeholder">Longtitude</label>
    </div>
    <button type="submit" class="submit">submit</button>
  </form>
</div>
<pre id="info"></pre>
<div class="row justify-content-center">
  <div class="col-md-5">
    <div id="map"></div>
  </div>
</div>
