/* You can add global styles to this file, and also import other style files */
body, html{
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  background: rgb(8,28,238);
  background: radial-gradient(circle, rgba(8,28,238,1) 0%, rgba(0,163,255,1) 50%, rgba(23,226,246,1) 100%);
}
