h2{
    text-align: center;
}

carousel img{
    margin-top: 2vh;
    
}

#container-2{
    background-color: whitesmoke;

}

#divWithBlogs{
    border-bottom: dotted;
    margin-bottom: 7vh;
    height: 40vh;

}
