
<div class="container">
  <carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex" >
    <slide *ngFor="let slide of slides; let index=index">
      <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h4>{{slide.header}}</h4>
        <p>{{slide.text}}</p>
        <button class="btn btn-lg btn-primary"><a href="{{slide.link}}">Click Here</a></button>
      </div>
    </slide>
   </carousel>
  </div>

<h2 id="blogs-header">Our Most Recent Blogs!</h2>

  <div id="container-2" class="container">
      <div *ngFor="let b of blogs">
        <div class="row d-flex justify-content-center">
          <div class="card mb-3">
            <cl-image public-id="{{b.image}}">
              <cl-transformation height="281px" width="750px"></cl-transformation>

          </cl-image>
            <div class="card-body">
              <h5 class="card-title">{{b.title}}</h5>
              <p class="card-text">{{b.text}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>





























<!-- <div class="container">
    <carousel>
        <slide>
          <img src="assets/k9-police-car.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/PoliceDog850.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/k9-police-car.jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </slide>
      </carousel>
</div>
<div class="container">
   <h1>updated news</h1>
</div> -->
