h2{
    text-align: center;
}


carousel img{
    margin-top: 2vh;
    height: 80vh;
    width: 90ch;
}

a{
  color: white;
}

.card{
  width: 50%;
  height: auto;
}
.card-img-top{
  height: 30vh;
  width: auto;
}

.card-title{
  font-style: oblique;
  font-weight: bold;
}

#blogs-header{
  text-decoration: underline;
}

