
<div class="container">
  <carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex" >
    <slide *ngFor="let slide of slides; let index=index">
      <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h4>Slide {{index}}</h4>
        <p>{{slide.text}}</p>
      </div>
    </slide>
   </carousel>
  </div>

<h2>Our Most Recent Blogs!</h2>

  <div id="container-2" class="container">
    <div id="divWithBlogs" class="row justify-content-around align-items-center" *ngFor="let b of blogs">
      <div class="col-6">
        <div class="row justify-content-center">
          <img src="{{b.image}}" style="width: 35vh; height: 30vh;">
        </div>  
      </div>
        <div class="col-6 ">
          <div class="row align-items-start justify-content-center">
            <h5>{{b.title}}</h5>
          </div>
          <div class="row align-items-start justify-content-center">
            <p>{{b.text}}</p>
          </div>
          <div class="row align-items-end justify-content-center">
            <a class="btn btn-primary btn-sm" href="/blogs/{{b._id}}">Check out {{b.title}}</a>
          </div>
          
        </div>
          
       
      </div>
    </div>
  



























<!-- <div class="container">
    <carousel>
        <slide>
          <img src="assets/k9-police-car.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/PoliceDog850.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/k9-police-car.jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </slide>
      </carousel>
</div>
<div class="container">
   <h1>updated news</h1>
</div> -->