
<div id="whole-container" class="container">
  <div class="row justify-content-center">
    <div class="card">
      <img class="card-img-top" src="{{dog.image}}" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">{{dog.name}}</h5>
        <p class="card-text">{{dog.about}}</p>
      </div>
    </div>
    <div class="map" id="map" class="match-parent"></div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">

    </div>
  </div>
</div>

