<div class="wrapper">
  <div id="row" class="row d-flex justify-content-center">
    <div class="col-sm-2">
      <div class="icon">
        <i class="fa fa-envelope fa-7x"></i>
      </div>
      <span class="span">info@k9cs.org</span>
    </div>
    <div class="col-sm-2">
      <div class="icon">
        <i class="fa fa-phone fa-7x"></i>
      </div>
      <span class="span">(860)-948-8674</span>
    </div>
    <div class="col-sm-2">
      <div class="icon">
        <i class="fa fa-map-marker fa-7x"></i>
      </div>
      <span class="span">406 Buff Cap Rd
        <br>
        Tolland, CT, 06084</span>
    </div>
  </div>
</div>
