.wrapper{
  margin-top: 5vh;
  height: 35vh;
  background: linear-gradient(180deg, #222222 0%, #363636 100%);
box-shadow: 0px 4px 60px 6px rgba(0, 0, 0, 0.25);

}

.icon{
color: #ffffff;
font-size: 3.2em;
margin-left: 2.5vw;
}
.span{
  width: 15vw;
height: 14vh;
font-family: Montserrat;
font-style: italic;
font-weight: 900;
font-size: 1em;
color: #FFFFFF;
margin-right: 1vw;
}

.col-xl-2{
  width: 15vw;
  height: 10vh;
}

#copyright{
  margin-top: 80px;
  color: #ffffff;
  opacity: 75%;
}
