.container{
  margin-top: 5vh;
}

.card-img-top{
   width: 30rem;
   height: 20vh;
   margin:10px 0px 10px 20px;
}

.card-title{
  font-style: oblique;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.card-body{
  width: 14.75rem;
  border-radius: 1%;
  background-color: white;
  padding: 1px;
  margin: 25px;
}
 .card{
   justify-content: center;
   width: 14.75rem;
   border-radius: 15px;
   overflow: hidden;
   height: 550px;
   width: 300px;
   border: 2px solid black;
   margin-bottom: 10px;
 }

 .card-text{
   text-align: center;
 }
#buttons{
  height: 75px;
}
