<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-around">
      <div *ngFor="let b of blogs" class="card" style="width: 18rem;">
        <!-- <img src="{{b.image}}" class="card-img-top"> -->
        <cl-image public-id="{{b.image}}">
          <cl-transformation height="281px" width="750px"></cl-transformation>

      </cl-image>
        <div class="card-body">
          <p class="card-title">{{b.title}}</p>
          <p class="card-text">{{b.text}}</p>
          <p>posted by: {{b.author}}, {{b.date}}</p>
          <button *ngIf="isLogin" class="btn btn-lg btn-warning" [routerLink]="['/blogs/edit/', b._id]"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button *ngIf="isLogin" class="btn btn-lg btn-danger" (click)="deletePost(b._id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <button class="btn btn-lg btn-success" *ngIf="isLogin" routerLink="/blogs/create" >Create Blog</button>
</div>

