#aboutus {
  width: 1200px;
  height: 550px;
  background: linear-gradient(180deg, #3b7ab5 0%, rgba(46, 85, 161, 0.4) 100%);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.25),
    inset 0px 4px 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 51px;
 margin-top: 50px;
}
#aboutusheader {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  margin: 35px 0px 0px 0px;
  text-align: left;
  color: #ffffff;

}

#aboutusimg {
  width: 381.96px;
  height: 326.61px;
  border-radius: 51px;
}

#aboutustext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 30px;
}
#col-2{
  margin-top: 40px;
}
.icon{
  color: #ffffff;
  font-size: 60px;
  margin-left: 60px;
  }
.contact-span{
width: 297px;
height: 35px;
font-family: Montserrat;
font-style: italic;
font-weight: 900;
font-size: 30px;
line-height: 37px;
color: #FFFFFF;
margin-left: 45px;
}
#col-3{
  width: 297px;
  height: 600px;
}
#address{
  font-size: 24px;
}
