<div id="aboutus" class="container">
  <div class="row d-flex justify-content-center">
    <div id="col-1" class="col-12 col-xl-5 d-flex align-items-around justify-content-center">
        <h2 id="aboutusheader">Contact Us</h2>
    </div>
    <div id="col-2" class="col-10">
      <div class="icon">
        <i class="fa fa-envelope fa-7x"></i>
        <span class="contact-span">info@k9cs.org</span>
      </div>
      <div class="icon">
        <i class="fa fa-phone fa-7x"></i>
        <span class="contact-span">(860)-948-8674</span>
      </div>
      <div class="icon">
        <i class="fa fa-map-marker fa-7x"></i>
        <span id="address" class="contact-span">406 Buff Cap Rd Tolland, CT, 06084</span>
      </div>
      <div class="icon">
        <i class="fa fa-facebook"></i>
        <span class="contact-span">Fans of K-9 Crime Stoppers</span>
      </div>
      <div class="icon">
        <i class="fa fa-youtube"></i>
        <span class="contact-span">K9CS</span>
      </div>
    </div>
  </div>
</div>
